.shop-content{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;

}
.Shop-container{
  display:grid;
  grid-template-columns: 4fr 1fr;
  

}
.cart-container{
  background-color:  #efefef;
}
@media screen and (max-width: 480px) {
    .shop-content{
        display:grid;
        grid-template-columns:1fr;
        
      
    }
  }