img{
    width:200px;
}
.product-content{
    position: relative;
}

.product-container{
    width:300px;
    height:300px;
    border: 1px solid #383CC1;
    border-radius:10px;

}
.add-to-cart{
    position:absolute;
    bottom: 0;
    left: 15%;
    width: 50%;
   
}